body {
  background-color: #333;
}

.container{
  width: 100%;
}

.titulo{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.esta-sonando{
  height: 50px;
}

.nota{
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 240px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.45);
  margin: 20px;
  padding: 15px;
}

#white{
  background-color: #fff;
}

#red{
  background-color:rgb(233, 19, 19);
}
#blue{
  background-color: blue;
}
#yellow{
  background-color: yellow;
}
#green{
  background-color: green;
}
#black{
  background-color: black;
}
#brown{
  background-color: rgb(77, 29, 29);
}
#purple{
  background-color: rgb(117, 6, 117);
}


.sonando{
  background-color: #999;
  transition: 1s;
}