body {
  background-color: #333;
}

.container{
  display: flex;
  margin: 30px auto;
  justify-content: center;
  width: 70%;
}

.titulo{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #fff;
}

.esta-sonando{
  height: 50px;
}

.nota{
  margin: 5px;
  border-radius: 5px;
  height: 200px;
  width: 100px;
  position: relative;
}

#white{
  background-color: #fff;
}

#red{
  background-color:rgb(233, 19, 19);
}
#blue{
  background-color: blue;
}
#yellow{
  background-color: yellow;
}
#green{
  background-color: green;
}
#black{
  background-color: black;
}
#brown{
  background-color: rgb(77, 29, 29);
}
#purple{
  background-color: rgb(117, 6, 117);
}


.sonando{
  background-color: #999;
  transition: 1s;
}